<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

	<context:property-placeholder
		location="classpath:config-dubbo.properties"
		ignore-unresolvable="true" />
		
	<aop:aspectj-autoproxy proxy-target-class="true"  expose-proxy="true"></aop:aspectj-autoproxy>

	<dubbo:application name="demo-consumer0A-service" />
	<dubbo:registry protocol="zookeeper" address="${zookeeper.address}" />

	<dubbo:consumer timeout="120000" />
	
	<dubbo:reference id="demoService0B" interface="com.demo.zipkin.service.DemoService0B" version="1.0.1" check="true"/>
	
	<dubbo:reference id="demoService0D" interface="com.demo.zipkin.service.DemoService0D" version="1.0.1" check="true"/>
	
</beans>
